name: compliance_check.yml
on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install gcc
        run: |
          sudo apt update
          sudo apt install -y gcc
          gcc --version
      - name: Compile
        run: |
          mkdir -p bin
          gcc -std=c17 -o bin/journal -Wall -Wextra src/main.c
          ls -lah bin | grep journal

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 20
      - name: Test
        run: |
          cd test
          npm install
          npm test
      - name: Print test snapshots
        run: cat test/__snapshots__/*.snap